mixin plugins()
  script(
    src="libs/jquery.min.js"
    )
  script(
    src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"
    )
  script(
    src="libs/jquery-ui/jquery-ui.min.js"
    )
  script(
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"
    )
  script(
    src="js/main.js"
    )
