mixin content()
  .col-9.main-content
      section.overview
        .overview__header
          .overview__title
            h6.overview__sub-title Dashboards
            h2.overview__main-title Overview
          .datetime-picker
            i.datetime-picker__icon.fas.fa-calendar-week
            input.datetime-picker__input.js-datetime-picker__input(
              type="text"
              value="01/01/15 - 01/08/15"
              )
            .datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-top
        .overview__charts
          .row
            -
              var doughnutList = [
                {
                  content : "Traffic",
                  title : "New vs Returning",
                  chart : [
                    {
                      data : [230,130],
                      label : ['Returning', 'New']
                    }
                  ]
                },
                {
                  content : "Revenue",
                  title : "New vs Recurring",
                  chart : [
                    {
                      data : [330, 30],
                      label : ['Returning', 'New']
                    }
                  ]
                },
                {
                  content : "Traffic",
                  title : "Direct vs Referrals",
                  chart : [
                    {
                      data : [100, 260],
                      label : ['Returning', 'New']
                    }
                  ]
                }
              ]
            each val in doughnutList
              .col-4.doughnut
                .doughnut__chart-inner
                  canvas.doughnut__chart(
                    class= "js-doughnut-canvas"
                    data-set= val.chart
                    width=150
                    height= 150
                  )
                .doughnut__content= val.content
                h3.doughnut__title= val.title
      section.quick-stats
        .quick-stats__header
          h3.quick-stats__title quick-stats
        .quick-stats__charts
          -
            var lineList = [
              {
                bgColor : "line-chart--green",
                title : "page views",
                count : "1,293",
                percent : "5%",
                isIncrease : true,
                chart : [
                  {
                    data : [28,68,41,43,96,45,100],
                    label : ['1', '2', '3', '4', '5', '6', '7']
                  }
                ]
              },
              {
                bgColor : "line-chart--red",
                title : "downloads",
                count : "758",
                percent : "1.3%",
                isIncrease : false,
                chart : [
                  {
                    data : [4,34,64,27,96,50,80],
                    label : ['1', '2', '3', '4', '5', '6', '7']
                  }
                ]
              },
              {
                bgColor : "line-chart--violet",
                title : "sign-ups",
                count : "1,293",
                percent : "6.75%",
                isIncrease : true,
                chart : [
                  {
                    data : [12,38,32,60,36,54,68],
                    label : ['1', '2', '3', '4', '5', '6', '7']
                  }
                ]
              },
              {
                bgColor : "line-chart--yellow",
                title : "Downloads",
                count : "758",
                percent : "1.3%",
                isIncrease : false,
                chart : [
                  {
                    data : [43,48,52,58,50,95,100],
                    label : ['1', '2', '3', '4', '5', '6', '7']
                  }
                ]
              }
            ]
          each val in lineList
            .line-chart(
              class= val.bgColor
            )
              .line-chart__content
                h3.line-chart__title= val.title
                .line-chart__statistical
                  span.line-chart__count= val.count
                    small.line-chart__percent(
                      class= val.isIncrease ? "line-chart__percent--increase" : "line-chart__percent--decrease")= val.percent
              .line-chart__inner 
                canvas.line-chart__chart(
                  class= "js-line-chart-canvas"
                  data-set= val.chart
                  width=336
                  height=83
                )
      .statistical
        .statistical__table.statistical__table--country
          ul.statistical__list
            -
              var countriesList = [
                {
                  name : "Countries",
                  isTitle : true,
                },
                {
                  name : "United States",
                  percent : "62.4%"
                },
                {
                  name : "India",
                  percent : "15.0%"
                },
                {
                  name : "United Kingdom",
                  percent : "5%"
                },
                {
                  name : "Canada",
                  percent : "5%"
                },
                {
                  name : "Russia",
                  percent : "4.5%"
                },
                {
                  name : "Mexico",
                  percent : "2.3%"
                },
                {
                  name : "Spain",
                  percent : "1.7%"
                },
                {
                  name : "France",
                  percent : "1.5%"
                },
                {
                  name : "South Africa",
                  percent : "1.4%"
                },
                {
                  name : "Japan",
                  percent : "1.2%"
                }
              ]
            each val in countriesList
              if val.isTitle
                li.statistical__item
                  h3.statistical__title= val.name
              else
                li.statistical__item
                  a.statistical__link.statistical__link--country(href="javascript:void(0)")= val.name
                    span.statistical__country(
                      style= "width :" + val.percent
                    )
                    span.statistical__percent= val.percent
          .statistical__bottom-link
            a.statistical__all-link All Countries
        .statistical__table
          ul.statistical__list
            -
              var visitedPageList = [
                {
                  path : "Most visited pages",
                  isTitle : true,
                },
                {
                  path : "/ (Logged out)",
                  view : "3,929,481"
                },
                {
                  path : "/ (Logged in)",
                  view : "1,143,393"
                },
                {
                  path : "/tour",
                  view : "938,287"
                },
                {
                  path : "/features/something",
                  view : "749,393"
                },
                {
                  path : "/features/another-thing",
                  view : "695,912"
                },
                {
                  path : "/users/username",
                  view : "501,938"
                },
                {
                  path : "/page-title",
                  view : "392,842"
                },
                {
                  path : "/some/page-slug",
                  view : "298,183"
                },
                {
                  path : "/another/directory/and/page-title",
                  view : "193,129"
                },
                {
                  path : "/one-more/page/directory/file-name",
                  view : "93,382"
                }
              ]
            each val in visitedPageList
              if val.isTitle
                li.statistical__item
                  h3.statistical__title= val.path
              else
                li.statistical__item
                  a.statistical__link(href="javascript:void(0)")
                    span= val.path
                    span= val.view
          .statistical__bottom-link
            a.statistical__all-link View all pages
      .statistical__table--full
        ul.statistical__list
          -
            var visitedPageList = [
              {
                path : "Devices and resolutions",
                isTitle : true,
              },
              {
                path : "Desktop (1920x1080)",
                view : "3,929,481"
              },
              {
                path : "Desktop (1366x768)",
                view : "1,143,393"
              },
              {
                path : "Desktop (1440x900)",
                view : "938,287"
              },
              {
                path : "Desktop (1280x800)",
                view : "749,393"
              },
              {
                path : "Tablet (1024x768)",
                view : "695,912"
              },
              {
                path : "Tablet (768x1024)",
                view : "501,938"
              },
              {
                path : "Phone (320x480)",
                view : "392,842"
              },
              {
                path : "Phone (720x450)",
                view : "298,183"
              },
              {
                path : "Desktop (2560x1080)",
                view : "193,129"
              },
              {
                path : "Desktop (2560x1600)",
                view : "93,382"
              }
            ]
          each val in visitedPageList
            if val.isTitle
              li.statistical__item
                h3.statistical__title= val.path
            else
              li.statistical__item
                a.statistical__link(href="javascript:void(0)")
                  span= val.path
                  span= val.view
        .statistical__bottom-link
          a.statistical__all-link View all devices
