mixin head()
  meta(
    charset="UTF-8"
    )
  meta(
    name="viewport",
    content="width=device-width, initial-scale=1.0"
  )
  meta(
    http-equiv="X-UA-Compatible",
    content="ie=edge"
  )
  link(
    rel="icon",
    type="image/x-icon",
    href="images/favicon.ico"
  )
  link(
    rel="stylesheet",
    href="./fonts/fontawesome/css/all.min.css"
  )
  link(
    rel="stylesheet",
    href="./libs/jquery-ui/jquery-ui.min.css"
  )
  
  link(
    rel="stylesheet",
    href="./css/style.min.css"
  )
  link(
    rel="stylesheet",
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css"
  )
  title Overview &middot; Dashboard theme &middot; Official Bootstrap Themes
